#carousel {
	margin: 0 auto;
	width: 800px;
	height: 400px;
	padding: 0;
	/*overflow: scroll;*/
    overflow:hidden;
}
#carousel ul {
	list-style: none;
	width: 2100px;
	margin: 0;
	padding: 0;
	position: relative;
    text-align:left;
}
#carousel li {
	display: inline;
	float: left;
}
.textholder {
	text-align: left;
	font-size: small;
	padding: 6px;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}
.progress {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}